$primary-color: #09111a;
$gray: #8f8f8f;
$secondary-color: #9d64ff;
$white-text: #c0d1d1;
$kindagrey: #8f8f8f;
$kindablue: #132234;

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
.nav-container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
  opacity: 0.7;
}
.nav-container {
  i {
    color: #9d64ff;
    font-size: 2em;
  }
  nav {
    display: none;
  }
}
.hero {
  padding: 1.5em 1em;
  h3 {
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
  }
  h2 {
    margin-top: 0;
    color: $secondary-color;
  }
  h1 {
    color: $white-text;
  }
  p {
    color: $white-text;
  }
}
.about {
  padding: 1.5em 1em;

  .image-container {
    text-align: center;
  }
  p {
    color: $white-text;
  }
  .technologies-container {
    padding: 0.5em;
    .fa-ul {
      display: grid;
      grid-gap: 1px;
      grid-template-columns: repeat(2, 1fr);
      color: $kindagrey;
      font-size: 0.7em;
      & > * {
        padding: 10px;
      }
    }
  }
}
i {
  color: $secondary-color;
  padding-right: 5px;
}
.section-title {
  h2 {
    text-transform: capitalize;
    color: $secondary-color;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      display: block;
      width: 40vw;
      background: $secondary-color;
      top: 50%;
      right: 0;
    }
  }
}
.experience {
  padding: 1.5em 1em;

  .selection {
    display: flex;
    flex-direction: row;
  }
  .buttons {
    border-top: 3px solid $gray;
    font-size: 0.7em;
    text-align: center;
    color: $gray;
    padding: 10px 20px;
    width: 30%;
    transition: all 0.5s;
  }
  .buttons:hover {
    color: $secondary-color;
    border-color: $secondary-color;
    background: $kindablue;
  }
  .description {
    padding: 10px 20px;
    color: $white-text;
    > * {
      visibility: hidden;
      display: none;
    }
    .heading {
      h5,
      h3 {
        padding: 0;
        margin: 0;
      }
      h5 {
        color: $gray;
      }
    }
    .point {
      font-size: 0.5em;
    }
  }
}
.link {
  color: $secondary-color;
}
.points {
  padding: 0.5em;
}
.active {
  visibility: visible !important;
  display: block !important;
}
.button-clicked {
  color: $white-text !important;
  border-color: $secondary-color !important;
  background: $kindablue;
}
.projects {
  padding: 1.5em 1em;
  justify-content: center;
  .project-container {
    background: $kindablue;
    padding: 2em;
    border-radius: 2%;
    width: 70vw;
    margin: 0 auto;
    .top-icons {
      font-size: 1.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  h2 {
    color: $white-text;
  }
  p {
    color: $kindagrey;
  }
  .technologies {
    padding-left: 0.5em;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    .tech-button {
      font-size: 0.7em;
      border: 1px solid $secondary-color;
      width: fit-content;
      padding: 0 10px;
      color: $kindagrey;
      border-radius: 20px;
    }
  }
}
