$primary-color: #09111a;
$gray: #8f8f8f;
$secondary-color: #9d64ff;
$white-text: #c0d1d1;
$kindagrey: #8f8f8f;
h3 {
}
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
.nav-container {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em;
  opacity: 0.7;
}
.nav-container {
  i {
    color: #9d64ff;
    font-size: 2em;
  }
  nav {
    display: none;
  }
}
.hero {
  padding: 1.5em 1em;
  h3 {
    color: $gray;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
  }
  h2 {
    margin-top: 0;
    color: $secondary-color;
  }
  h1 {
    color: $white-text;
  }
  p {
    color: $white-text;
  }
}
.about {
  padding: 1.5em 1em;

  .image-container {
    text-align: center;
  }
  p {
    color: $white-text;
  }
  .technologies-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    .tech {
      color: $kindagrey;
      font-size: 0.5em;
      i {
        color: $secondary-color;
        padding-right: 5px;
      }
    }
  }
}
.section-title {
  h2 {
    text-transform: capitalize;
    color: $secondary-color;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 1px;
      display: block;
      width: 50vw;
      background: $secondary-color;
      top: 50%;
      right: 0;
    }
  }
}
