body {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.nav-container {
  background-color: #09111a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5em 1em;
}

.nav-container i,
.nav-container .openBtn {
  color: #9d64ff;
  font-size: 2em;
  cursor: pointer;
}

.nav-container .nav-links {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 66%;
  background: #132234;
  padding: 1em;
  height: 100vh;
  right: 0;
}

.nav-container .nav-links i,
.nav-container .nav-links .closeBtn {
  float: right;
  font-size: 2em;
  cursor: pointer;
}

.nav-container .nav-links .primary-nav {
  margin-top: 7em;
  text-align: center;
}

.nav-container .nav-links .primary-nav li {
  list-style-type: none;
  padding: 1em 0em;
  font-size: 1.5em;
}

.nav-container .nav-links .primary-nav li a {
  text-decoration: none;
  color: #c0d1d1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-container .nav-links .primary-nav li a:hover {
  font-size: 1.2em;
  font-weight: bold;
  color: #9d64ff;
}

.nav-container .nav-links .secondary-nav {
  text-align: center;
}

.nav-container .nav-links .secondary-nav li {
  list-style-type: none;
  font-size: 1.5em;
}

.nav-container .nav-links .secondary-nav li a {
  text-decoration: none;
  color: #c0d1d1;
}

.hero {
  padding: 1.5em 1em;
}

.hero h3 {
  color: #8f8f8f;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 2px;
}

.hero h2 {
  margin-top: 0;
  color: #9d64ff;
}

.hero h1 {
  color: #c0d1d1;
}

.hero p {
  color: #c0d1d1;
}

.about {
  padding: 1.5em 1em;
}

.about .image-container {
  text-align: center;
}

.about .image-container img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 50%;
}

.about p {
  color: #c0d1d1;
}

.about .technologies-container {
  padding: 0.5em;
}

.about .technologies-container .fa-ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: #8f8f8f;
  font-size: 1em;
}

.about .technologies-container .fa-ul > * {
  padding: 10px;
}

i {
  color: #9d64ff;
  padding-right: 5px;
}

.section-title h2 {
  text-transform: capitalize;
  color: #9d64ff !important;
  overflow: hidden;
}

.section-title h2:after {
  display: inline-block;
  content: "";
  position: relative;
  vertical-align: middle;
  height: 1px;
  width: 40vw;
  background: #9d64ff;
  left: 0.5em;
}

.experience {
  padding: 1.5em 1em;
}

.experience .selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.experience .buttons {
  border-top: 3px solid #8f8f8f;
  font-size: 0.7em;
  text-align: center;
  color: #8f8f8f;
  padding: 10px 20px;
  width: 30%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.experience .buttons:hover {
  color: #9d64ff;
  border-color: #9d64ff;
  background: #132234;
}

.experience .description {
  padding: 10px 20px;
  color: #c0d1d1;
}

.experience .description > * {
  visibility: hidden;
  display: none;
}

.experience .description .heading h5,
.experience .description .heading h3 {
  padding: 0;
  margin: 0;
}

.experience .description .heading h5 {
  color: #8f8f8f;
}

.experience .description .point {
  font-size: 0.5em;
}

.link {
  color: #9d64ff;
}

.link a,
.link a:visited {
  color: #9d64ff;
  text-decoration: none;
}

.points {
  padding: 0.5em;
}

.active {
  visibility: visible !important;
  display: block !important;
}

.button-clicked {
  color: #c0d1d1 !important;
  border-color: #9d64ff !important;
  background: #132234;
}

.projects {
  padding: 1.5em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .project-container {
  background: #132234;
  padding: 2em;
  border-radius: 2%;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 2em;
}

.projects .project-container .top-icons {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects h2 {
  color: #c0d1d1;
}

.projects p {
  color: #8f8f8f;
}

.projects .technologies {
  padding-left: 0.5em;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.projects .technologies .tech-button {
  font-size: 0.7em;
  border: 1px solid #9d64ff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 10px;
  color: #8f8f8f;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .closeBtn,
  .openBtn {
    display: none !important;
  }
  .nav-links {
    font-size: 0.8em;
    padding: 0% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto !important;
    padding-right: 2em !important;
    background-color: #09111a !important;
  }
  .primary-nav {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    margin: 0% !important;
    text-align: left !important;
  }
  .primary-nav li {
    padding-right: 1em !important;
  }
  .secondary-nav li {
    border: 5px solid #9d64ff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #8f8f8f;
    border-radius: 20px;
    padding: 0 10px;
  }
  h3 {
    font-size: 2em;
  }
  h2 {
    font-size: 3em;
  }
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.5em;
  }
  .hero {
    margin-top: 5em;
    height: 80vh !important;
  }
  .about-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .about-description .image-container {
    padding-top: 5em;
    width: 200%;
  }
  .experience {
    height: 90vh;
  }
  .experience .experience-container {
    padding-top: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .experience .experience-container .selection {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    width: 50%;
  }
  .experience .experience-container .selection .buttons {
    font-size: 2em;
    border-top: none;
    border-left: 3px solid #8f8f8f;
    width: 70%;
  }
  .experience .experience-container .description {
    width: 50%;
  }
  .experience .experience-container .description h3 {
    font-size: 3em;
  }
  .experience .experience-container .description h5 {
    font-size: 1em;
  }
  .experience .experience-container .description li {
    padding-top: 2em;
  }
  .projects {
    height: 100vh;
  }
  .projects .projects-list {
    display: -ms-grid;
    display: grid;
    grid-gap: 2em;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects .projects-list .project-container {
    width: 30em;
  }
}
/*# sourceMappingURL=style.css.map */